*{
    margin: 0;
    padding: 0;
}
body{
background-image: url(images/harputkale1.jpeg);
background-attachment: fixed;
object-fit: cover;
background-size: cover;
background-position: center;
}
.container{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 0 10%;
    color:  white;
     
}
.navbar{
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    height: 50px;
    width: 150px;
    cursor: pointer;
    box-shadow: 0 0 1.8px blue
}
.logo:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transform: scale(1.4);
}
.fa-solid{
     font-size: 50px;
     cursor: pointer;
     margin-right: 30px;
     opacity: 0;
 
}
.fa-solid:hover{
    transform: scale(1.2);
    transition: .5s;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li a{
    list-style: none;
    margin-left: 15px;
    text-decoration: none;   
    color: black;
 
}
nav ul li a:hover{
    border-bottom: 1px solid black;
    border-radius: 50%;
}

.row{
    display: flex;
    align-items: center;
    height: 30%;
    justify-content: space-between;
    column-gap: 210px;
   
}
.col{
    flex-basis: 50%;
    margin-top: 40%;
  
    
}
h1{
    font-size: 120px;
    color: black;
    cursor: pointer;
}
h1:hover{
    transform: translateY(-15px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
h4{
    text-indent: 10px;
    padding: 2px;
    text-shadow: 0 0 10px black;
    color: white;
    font-weight: bolder;
    
}
p{
    font-size: 20px;
    line-height: 25px;
    max-width: 600px;
    text-indent: 10px;
    padding: 2px;
    text-shadow: 0 0 10px black;
    font-family: 'Times New Roman', Times, serif;
 
    
}
p mark{
    background-color: bisque;
    cursor: pointer;
}
p mark:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: yellowgreen;
}

button{
    font-size: 15px;
    height: 40px;
    width: 150px;
    border: solid gray 2px;
    border-radius: 50%;
    margin-top: 30px;
    cursor: pointer;
    color: black;
    
}
button:hover{
    border: none;
    transform: scale(1.5);
    transition: .3s;
    font-weight: bolder;
}
.card1 {
    width: 300px;
    height: 300px;
    display: inline-block;
    border: 4px solid gray;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 50px;
    background-image: url(images/harput\ kofte.jpeg);
    background-position: center;
    background-size: cover;
    transition: .5s;
    text-indent: 10px;
    padding: 2px;
    text-shadow: 0 0 10px black;
}
.card1:hover{
    transform: translateY(-15px);
    transition: 0.5s;
}
.card2{
    width: 300px;
    height: 300px;
    display: inline-block;
    border: 4px solid gray;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 50px;
    background-image: url(images/icli\ kofte.jpeg);
    background-position: center;
    background-color: transparent;
    background-size: cover;
    transition: .5s;
    text-indent: 10px;
    padding: 2px;
    text-shadow: 0 0 10px black;
}
.card2:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.card3{
    width: 300px;
    height: 300px;
    display: inline-block;
    border: 4px solid gray;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 50px;
    background-image: url(images/salcali\ kofte.jpeg);
    background-position: center;
    background-size: cover;
    transition: .5s;
    text-indent: 10px;
    padding: 2px;
    text-shadow: 0 0 10px black;
}
.card3:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.card4{
    width: 300px;
    height: 300px;
    display: inline-block;
    border: 4px solid gray;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 50px;
    background-image: url(images/peynirli\ ekmek.jpeg);
    background-position: center;
    background-size: cover;
    transition: .5s;
    text-indent: 10px;
    padding: 2px;
    text-shadow: 0 0 10px black;

}
.card4:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.cards{
    height: 1%;
    margin-bottom: 20px; 
}

@media (max-width: 768px){
    nav{
        display: none;
    }
    .fa-solid{
       opacity: 1;
    }
}




 
